<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script>
        window.session_id = localStorage.getItem("session_id");

        if (!window.session_id) {
            window.session_id = crypto.randomUUID();
            localStorage.setItem("session_id", window.session_id);
        }
    </script>
</head>
<body>
    <h1>Hello from FastAPI 🚀</h1>
    <input type="text" id="prompt" placeholder="Enter text">
    <button onclick="sendData()">Send</button>

    <p id="output"></p>
    <script src="/static/js/app.js"></script>
</body>
</html>
